.list {
  background-color: #FAF6F3;
  

  .totales{
    text-align: end;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    
  }

  button{   
    align-items: center;
    text-align: center;
    justify-items: center;    
    margin: 0.3rem;
  }  


  .card {
    background-color: white;
    margin: 1rem;
    display: flex; 
  
    .detalle {     
      
      label {
         .btn {
          display: flex;
          align-items: center;
          
          background-color: rgb(174, 183, 184);
          border-radius: 1rem;

          h5 {           
            margin: 0 5px 0 5px;
            background-color: white;
            padding: 0 5px 0 5px;
            border-radius: 1rem;
          }
        }     
      
      }

    }


    img {
      max-height: 10rem;
      max-width: 10rem;
      object-fit: cover;
      object-position: center center;      
    }
  }
}