.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  z-index: 2;

  .title1 {    
    background-color: rgb(8, 12, 147);   
    width: 50vw; 
    padding: 0.4rem;
   text-align: center;

    
        p{
          color: white;
        }
 
  }
  
  .title2 {    
    background-color: rgb(172, 171, 171);   
    width: 50vw; 
    padding: 0.4rem;
   text-align: center;

    
        p{
          color: white;
        }
 
  }
}
