.carousel_vim {
  
    display: flex;
    height: 30rem;

     
  img {
    // object-fit: cover;
    object-position: center center;  
  //    max-width: 600px;
  // aspect-ratio: 2/2.5;
  }
  
  }
 