.space {
   h1{
  
    color: black;
    white-space: nowrap; /* Mantiene el texto en una sola línea */
  letter-spacing: 0.3em; /* Ajusta el espaciado entre letras */
  font-size: calc(22px + 1vw); 
   }
}
