@import "./index.scss";

* {
}

body {
  margin: 0;
  // background-color: #FAF6F3;
}

h1 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

h2 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: monospace;
}


h3,
h4,
h5 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

h6 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

p {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

a:link {
  text-decoration: none;
  font-family: monospace;
}
a:visited {
  text-decoration: none;
  font-family: monospace;
}

label{
  font-family: monospace;
}

button{
  font-family: monospace !important;
}
