@import "./index.scss";

* {
}

body {
  margin: 0;
  background-color: #FAF6F3;
}

h1 {
  margin: 0;
  color: rgb(72, 0, 78);
  font-family: 'Lucida Sans';
}

h2 {
  margin: 0;
  color: rgb(72, 0, 78);
  font-family: 'Lucida Sans';
}


h3,
h4,
h5 {
  margin: 0;
  color: rgb(72, 0, 78);
  font-family: 'Lucida Sans';
}

h6 {
  margin: 0;
  color: rgb(72, 0, 78);
  font-family: 'Lucida Sans';
}

p {
  margin: 0;
  color: rgb(72, 0, 78);
  font-family: 'Lucida Sans';
}

a:link {
  text-decoration: none;
  font-family: 'Lucida Sans';
}
a:visited {
  text-decoration: none;
  font-family: 'Lucida Sans';
}
